@tailwind base;
@tailwind components;
@tailwind utilities;

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e7eb;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

body {
  @apply bg-gradient-to-tr from-blue-500 to-green-500;
}

.signin-box h1 {
  @apply text-3xl font-bold text-center mb-4;
}
input {
  @apply border border-gray-300 rounded-md p-1;
}
.signin-box button {
  @apply bg-blue-500 text-white rounded-md p-2 mt-4 hover:bg-blue-600;
}